In [1]:
import pandas as pd 
import numpy as np
import joblib
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from stop_words import get_stop_words

In [2]:
#Import DataSet 
dataframe= pd.read_csv("labels.csv",sep=',',encoding='iso-8859-1')

In [3]:
dataframe

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [4]:
## Cleaning supprimer column qui sert à rien parce que on a déja ID
dataframe= dataframe.drop("Unnamed: 0",1)

In [5]:
## trainer le pipeline 
clf = make_pipeline(
    TfidfVectorizer(stop_words=get_stop_words('en')),
    OneVsRestClassifier(SVC(kernel='linear', probability=True))
)

In [7]:
clf = clf.fit(X=dataframe['tweet'], y=dataframe['class'])

joblib.dump(clf,'finalResult.pkl')

/home/sabrine/.local/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:383: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aren', 'can', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

['finalResult.pkl']

ROUTE : c'est celui qui gére la réception etl'actions de certains requêtes.une requête est acheminées en fonction de deux informations
1) la méthode de requête HTTP
2) le chemin de la requête. 
une route fait référence à une combinaison de méthode HTTP, de chemin et de Gestionnaire.

BaseModel : afin de définir des objects dans la bibliothéque de validion"pydantic" faut passer par des modéles(les modéles sont simplement des classes dont héritent BaseModel)
on peut utiliser les modéles comme une ecigences d'un seul point de terminaison dans une API.